<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title><%= title || 'Log In' %></title>
  </head>
  <body class="page-auth">
    <%- include('../partials/nav') %>

    <main class="container">
      <h1 class="signup-title">Log In</h1>
      <div class="signup-container">
        <% if (typeof error !== 'undefined' && error) { %>
        <p class="error"><%= error %></p>
        <% } %>
        <form method="POST" action="/auth/login" class="form">
          <label>Email <input type="email" name="email" required /></label>
          <label
            >Password <input type="password" name="password" required
          /></label>
          <button type="submit" class="btn">Log In</button>
        </form>
      </div>
      <p class="signup-below">
        Need an account? <a href="/auth/signup">Sign up</a>
      </p>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
